/* Default OpenACR styling */

body {
  padding-left: 35px;
}

.header-anchor {
  margin-left: -1em;
  visibility: hidden;
}

:hover > .header-anchor {
  visibility: visible;
}

.applicable-standards-guidelines-table th:nth-child(1) {
  width: 40%;
}
.applicable-standards-guidelines-table th:nth-child(2) {
  width: 60%;
}

/* If only one level then hide the label. */
.component-level-count-1 .component-level-label {
  display: none;
}
